h2{
    color: #009999;
    text-decoration: underline;
}

#error{
    color:#aa0000;
}

#resultado{
    color:#FFF;
    background-color: #000;
    width: 30%;
    font-size: 1.5em;
}

input[type=text],input[type=date], input[type=password], textArea, select{
    background-color: #000;
    color: #FFF;
}